body {
    font-family: monospace;
    background: #111;
    color: green;
    text-align: center;
}

.main {
    margin-top: 100px;
}
.plain {
    margin-top: 20px;
}
.fluxlogo {
    width: 150px;
    vertical-align:bottom;
}

.fluxlogo-small {
    width: 80px;
    vertical-align:bottom;
    margin-left: 15px !important;
}

.headline {
    margin-top: 0px;
    margin-left: 60px;
}

.reset {
    margin-top: 100px;
}

.pure-button {
    border-radius: 4px;
    background: #333;
    color: green;
}

.red {
    color: white;
    background: rgb(202, 60, 60);
}

.green {
    background: green;
    color: white;
}

#connect {
    width: 120px !important;
}

#disconnect {
    width: 120px !important;
}

.button-control {
    margin:5px;
    font-family: monospace;
    width: 70px;
}


.z-container {
    margin-top: 19px;
}

#temp_label {
    font-size: 1.17em;
    font-weight: bold;
    margin-right: 15px;
}

#temp {
    height: 26px;
}
