<!doctype html>
<html>
    <head>
        <title>Flux Delta Controlling</title>
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static',filename='img/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/side-menu.css') }}">
    </head>

    <body>

        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>

            <div id="menu">
                <div class="pure-menu">
                    <img class="fluxlogo-small pure-menu-heading" src="{{ url_for('static',filename='img/flux_logo_green.png') }}"/>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Monitoring</a></li>
                        <li class="pure-menu-item"><a href="control" class="pure-menu-link menu-item-active">Controlling</a></li>
                    </ul>
                </div>
            </div>

            <div class="main">
                <img class="fluxlogo" src="{{ url_for('static',filename='img/flux_logo_green.png') }}"/>
                <h3 class="headline">CONTROLLING</h3><br/>

                <h3 id="status">Status: disconnected</h3>

                <div class="button-group">
                    <button type="button" class="button-control pure-button green" id="connect">connect</button>
                    <button type="button" class="button-control pure-button red" id="disconnect">disconnect</button>
                </div>
                <br/><br/>
                <div>
                    <button class="button-control pure-button" id="home">HOME</button>
                </div>
                <br/><br/>
                <div class="pure-g">
                    <div class="pure-u-1-3"></div>
                    <div class="pure-u-1-3">

                        <div class="pure-g">
                            <div class="pure-u-1-2">

                                <div>
                                    <div>
                                        <button class="button-control pure-button" id="y-up">back</button>
                                    </div>
                                    <div style="text-align:center;">
                                        <div style="display:inline-block;">
                                            <button class="button-control pure-button" id="x-down">left</button>
                                        </div>
                                        <div style="display:inline-block;">
                                            <button class="button-control pure-button" id="x-up">right</button>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="button-control pure-button" id="y-down">front</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pure-u-1-2 z-container">

                                <div>
                                    <button class="button-control pure-button" id="z-up">up</button>
                                </div>
                                <div>
                                    <button class="button-control pure-button" id="z-down">down</button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="pure-u-1-3"></div>
                </div>

                <br/><br/>

                <!--
                <form class="pure-form">
                    <label for="temp" id="temp_label">Set temperature</label>
                    <input type="text" id="temp" size="3" class="pure-input">
                    <button class="pure-button" id="set_temp">set</button>
                </form>
                -->


            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static',filename='js/control.js') }}"></script>

    </body>

</html>
