<!doctype html>
<html>
    <head>
        <title>Flux Delta Monitoring</title>
        <meta http-equiv="refresh" content="30" >
        <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static',filename='img/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/pure-min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/side-menu.css') }}">
    </head>

    <body {% if hours_since_lubrication >= 50.0 %} style="background: #550000 !important;"{% endif %}>


        <div>

            <div class="plain">
                <img class="fluxlogo" src="{{ url_for('static',filename='img/flux_logo_green.png') }}"/>
                <h3 class="headline">MONITORING</h3><br/>
                <h3>Flux status: <span id="status">{{status}}</span></h3>
                <h3>Total running hours: <span id="total_hours">{{total_hours}}</span></h3>
                <h3>Running hours since last lubrication: <span id="hours_since_lubrication">{{hours_since_lubrication}}</span></h3>

                {% if hours_since_lubrication >= 50.0 %}
                    <div class="lubricate">
                        <h1>!!LUBRICATE!! !!LUBRICATE!! !!LUBRICATE!!</h1>
                    </div>
                {% endif %}

                <div class="reset">
                    <button class="button-reset pure-button red" id="reset-button">Lubricated!<br/>Reset counter</button>
                </div>

            </div>

        </div>
        <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>

    </body>

</html>

